.listSearch {
    flex: 2;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    width: 350px;

  }
  
  .lstTitle {
    font-size: 23px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .listItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .listItem > label {
    font-size: 15px;
  }
  
  .listItem > input {
    height: 40px;
    border: none;
    padding: 7px;
    border-radius: 10px;
    color: gray;
  }
  
  .listItem > span {
    height: 40px;
    padding: 5px;
    background-color: white;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    color: gray;
  }
  
  .date {
    position: relative;
    top: 0px;
  }
  
  .personNumberOptions{
  margin-top: 4px;
  }
  
  .personNumberOptionItem {
    position: relative;
    color: gray;
    width: 70%;
    background-color: white;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    -webkit-box-shadow: 0px 18px 26px -8px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 18px 26px -8px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 18px 26px -8px rgba(0, 0, 0, 0.64);
    display: flex;
    justify-content: space-between;
  }
  
  .numberCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color:black;
  }
  
  .personCounterButton{
    height: 25px;
    width: 22px;
    border: 1px solid #febb02;
    color: black;
    background-color: white;
    cursor: pointer;
    border-width: 2px;
    border-radius: 7px;
  
  }
  
  .personCounterButton:disabled{
    cursor: not-allowed;
  }
  
  .searchButton{
    background-color: #555555;
    color: white;
    border-radius: 10px;
    margin-top: 2px;
    width: 50%;
    align-self: center;
    font-size: 22px;
  }
  
  .searchButton:hover{
    
    background-color: #42B72A;
  }
  