.login {
  width: 100vw;
  height: 110vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 50%;
  height: 50%;;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.loginBoxLogin {
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInputLogin {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInputLogin:focus {
  outline: none;
}

.loginButtonB {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #f0f2f5;
}

.loginButtonB:disabled {
cursor: not-allowed;
}

.loginForgot a{
  text-align: center;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

li .loginRegisterLogin{
  list-style-type: none;
}
.loginRegisterLogin{
  width: 100%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #42b72a;
  color: #f0f2f5;
}

.loginRegisterLogin a:link {
  text-align: center;
  display: inline-block;
  padding-left: 2.5em;
  padding-top:0em;
}
