.card{
    border: none;
}
.moreP{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    margin-right: 40px;
    color: #8400ff;
    /* display: contents; */
}