h5{
    margin: 1rem;
}
.inputShare{
    margin-left: 1rem;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    width: 60%;
    padding: 12px 20px;
}
.extra{
    width: 51%;
}
.butonShare{
    width: 20%;
}
.iconShare{
    margin: 50px;
}
h4{
    display: inline-block;
}