.image{
    width: 150px;
    height: 150px;
    clip-path: circle();
    align-items: center;
    margin-top: 2em;
    display: block;
    margin: auto;
}
.butons{
    width:80% ;
    padding-left: 40px;
}
.btn{
    padding: 0.4em;
    background-color:#8eb7f5 ;
    margin: 1em;
}
.text{
    text-align: center;
    margin: 8em auto;
}