.login {
  
}
  
  .loginWrapper {
    height: 50%;
    max-width: 1024px;
    align-items: center;
    margin-top: -20%;
  }
  
  .loginLeft{
    align-items: center;
    height: 100%;

  }
  .loginRight {
    align-items: center;
    height: 100%;
  }
  .OptionImage{
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius-topright: 10px;
      border-top-right-radius: 10px;

      -webkit-border-top-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      border-top-left-radius: 10px;
  }
  .OptionCard{
    width: 18rem;
    border-radius: 10px;
    background-color:#febb02 ;
  }
  .OptionCard:hover{
      color: black;
      width: 19rem;
      /* background-color: rgb(167, 205, 248); */
  }
  .option-text{
      text-align: center;
  }
  .option-text:hover{
      color: black;
  }
  a:hover{
      color: black;
  }