.rsvAccContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.rsvAccWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-direction: column;
}
.rsvTitle{
  color: #42a72b;
  font-weight: bold;
}

.rsvAccResult {
  flex: 4;
}
