.navbar {
  height: 100%;
  background-color: #42b72a;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gezginlogo {
  font-size: 40px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.gezginlogo:hover {
  color: #febb02;
}

.navButton {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #febb02;
  margin-left: 20px;
  -webkit-box-shadow: 0px 13px 10px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 10px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 10px -8px rgba(0,0,0,0.75);
}

.LogOut {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f03a3a;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  border: none;

  -webkit-box-shadow: 0px 13px 10px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 10px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 10px -8px rgba(0,0,0,0.75);
  flex:1;
}

.navItems{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profileDropDown{
  flex: 1;
  margin-left: 10px;
  z-index: 999;
  position: relative;
}
.profileDropDown .profileDropDownItems{
  display: none;
  background-color: #febb02;
  border-radius: 10px;
  padding: 3px;
  color: black;
  border-style: solid;
  border-color: #42b72a;
  border-width: 3px;
  width: 450%; 
}
.profileDropDown span {
  padding: 12px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.profileDropDown span.navbarLogout:hover {
  background-color: #f03a3a;
  color: white;
  
}
.profileDropDown span.myProfile:hover{
  background-color: #42b72a;
  color: white;
}

.profileDropDown:hover .profileDropDownItems{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -170%;
}

.arrowIcon{
  color:#febb02;
}



