.myTravelOfferContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .myTravelOfferWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .myTravelOfferTitle{
    color: #42a72b;
    font-weight: bold;
  }
  
  .myTravelOfferResult {
    flex: 4;
  }